.places {
    max-width: 1000px;
    margin: 0 auto;
}
.places h1{
    font-size: 30px;
}
.places article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
article h2 {
    width: 390px;
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    /* line-height: 100%; */
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    
    
}